{% extends "index.html" %}
{% block head %}
    <title>Компания</title>
    <link rel="stylesheet" href= "/static/css/about.css">
{% endblock %}

{% block content %}
    <div class="ts">Об "IDEA"</div>
    <div class = "text">
        <img src = "/static/images/media/icon.jpg" width="300" height="300" class = "left">
        <img src = "/static/images/media/future.jpg" width="300" height="300" class = "right">
        <div class = "ts" style="font-size: 24px;">Наш мебельный магазин - это место, где вы можете найти широкий ассортимент качественной мебели для вашего дома. Мы работаем с проверенными производителями, чтобы предложить нашим клиентам лучшие товары по доступным ценам.</div>
     </div>
     <div class = "text">
       <img src = "/static/images/media/production.jpg" width="300" height="300" class = "left">
       <img src = "/static/images/media/employees.jpg" width="300" height="300" class = "right">
       <div class = "ts" style="font-size: 24px;">Мы гордимся тем, что наша компания имеет богатый опыт работы в сфере мебельного бизнеса. Наш коллектив состоит из опытных специалистов, которые всегда готовы помочь вам подобрать идеальную мебель для вашего интерьера.</div>
     </div>
     <div class = "text">
       <img src = "/static/images/media/options.jpg" width="300" height="300" class = "left">
       <img src = "/static/images/media/post.jpg" width="300" height="300" class = "right">
       <div class = "ts" style="font-size: 24px;">Мы стремимся к тому, чтобы каждый клиент нашего магазина остался доволен своей покупкой. Поэтому мы предлагаем широкий выбор стилей, цветов и материалов, чтобы удовлетворить потребности самых взыскательных покупателей.</div>
     </div>
     <div class = "text">
       <img src = "/static/images/media/goods.jpg" width="300" height="300" class = "left">
       <img src = "/static/images/media/items.jpg" width="300" height="300" class = "right">
       <div class = "ts" style="font-size: 24px;">Наш магазин предлагает не только мебель для гостиной, спальни или кухни, но и аксессуары, текстиль и декор, которые помогут создать уютную и стильную обстановку в вашем доме. Мы следим за последними тенденциями в дизайне интерьера и постоянно обновляем наш ассортимент.</div>
     </div>
     <div class = "text">
       <img src = "/static/images/media/staff.jpg" width="300" height="300" class = "left">
       <img src = "/static/images/media/work.jpg" width="300" height="300" class = "right">
       <div class = "ts" style="font-size: 24px;">Мы ценим каждого клиента и стремимся к тому, чтобы ваше покупательное путешествие в нашем магазине было приятным и удобным. Мы предлагаем удобные условия оплаты, быструю доставку и квалифицированную консультацию наших специалистов. Посетите наш магазин и найдите мебель своей мечты!</div>
     </div>
{% endblock %}
